@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

main {
  font-family: 'Josefin Sans', sans-serif;
  background-color: #282c34;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.Inputs {
  margin-bottom: 10px;
}

input {
  border-radius: 05px;
  color: #2F3E46;
  background-color: #CAD2C5;
  margin: 5px 5px;
  text-align: center;
  font-size: 16px;
  padding: 08px;
}

input:hover {
  background-color: #84A98C;
  transition: 0.25s;
}

button {
  color: #2F3E46;
  background-color: #CAD2C5;
  border-radius: 05px;
  margin: 5px 5px;
  text-align: center;
  font-size: 16px;
  padding: 08px 20px;
  width: 150px;
  box-sizing: border-box;
}

button:hover {
  background-color: #84A98C;
  transition: 0.25s;
}

.Login-title {
  background-color: #282c34;
  flex-direction: column;
  font-size: 40px;
  color: #CAD2C5;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 300px;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
  background-color: #282c34;
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 40vh;
}

.red-border {
  border: 1px solid red;
}

.green-border {
  border: 1px solid green;
}

@media ( prefers-reduced-motion : no-preference ) {

  .App-logo {
    animation: shake infinite 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes shake {

  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
